services:
  blockchain:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blockchain
    environment:
      - NODE_ID=3000
    volumes:
      - ./data:/root/data
    ports:
      - "2112:2112"    # blockchain metrics
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:2112/metrics"]
      interval: 10s
      timeout: 5s
      retries: 3

    

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    depends_on:
      - blockchain

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
