name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./  

    steps:
      - uses: actions/checkout@v4


      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.2'

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
      
      - name: docker login
        uses: docker/login-action@v3
        with: 
          username: ${{  secrets.DOCKER_HUB_USERNAME }}
          password: ${{  secrets.DOCKER_HUB_TOKEN }}
      - name: push to docker hub
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: bebe018/blockchain_go

